/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.backup
.env.production
.DS_Store
.git
.gitignore
.gitattributes
.idea
.vscode
.nova
.cursor
.zed
.phpunit.cache
.phpunit.result.cache
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
Thumbs.db
*.md
!README.md
docker-compose*.yml
docker-compose*.yaml
Dockerfile
.dockerignore
